.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: var(--footer-height);
  text-align: center;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90;
  padding: var(--spacing-sm);
  transition: left 0.3s ease-out;
}

.footer.noSidebar {
  left: 0;
}

.footer.sidebarCollapsed {
  left: 4rem;
}

.footer.sidebarExpanded {
  left: 16rem;
}
